<html lang="en">
<head>
  {% load static%}
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{% static 'pgmanagement/js/main.js'%}"></script>
  
</head>
<body>
	{% block header%}
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	  	<div class="navbar-header">
	      <img src="{%static 'pgmanagement/images/index.png' %}" width="50" height="50">
	    </div>
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">PGMANAGEMENT</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="/home/">Home</a></li>
	      <li><a href="#">REPORTS</a></li>
	      <li><a href="#">SEARCH FOR PG</a></li>
	      {% if 'username' in request.session %}
	      	<li><a href="/signout/">SIGNOUT</a></li>
	      	<li> <a href="">WELCOME {{ request.session.username }}</a></li>
	      {% else %}
	      	<li><a href="/register/">REGISTER</a></li>
			<li><a href="/login/">LOGIN</a></li>
	      {% endif %}
	    </ul>
	  </div>
	</nav>
	{% endblock %}
	<div class="container">
	{% block content %}
		SAMPLE BODY
	{% endblock %}
	</div>
	{% block footer%}
	<div class="footer">
		<p>This is footer</p>
	</div>
	{% endblock %}
</body>
</html>