{% extends 'pgmanager/base.html'%}
{% block content%}
	<h1>PGMANAGERS</h1>
	<div class="row">
		<form class="form-horizontal" method="post">
			{% csrf_token %}
			Name: <input type="text" name="name">
			Gender: <select name="gender">
				<option></option>
				<option value="M">Male</option>
				<option value="F"> Female</option>
			</select>
			Email: <input type="text" name="email">
			<input type="submit" name="">
		</form>
	
    </div>
    <div class="row">
	<a href="/pgmanager_create/">CREATE PGMANAGER</a>
		<table border=2>
			<thead>
				<tr>
					<th>NAME</th>
					<th>GENDER</th>
					<th>EMAIL</th>
					<th>CELL</th>
					<th>STATUS</th>
					<th>OPERATIONS</th>
				</tr>	
			</thead>
			<tbody>
				{% for row in data %}
				<tr>
					<td>{{ row.name }}</td>
					<td>{{ row.get_gender_display }}</td>
					<td>{{ row.email }}</td>
					<td>{{ row.cell }}</td>
					<td>{{ row.status }}</td>
					<td>
						<a href="/pgmanager_update/{{ row.id }}">UPDATE</a>
						<a href="/pgmanager_delete/{{ row.id }}">DELETE</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}