<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>
	<h1>PGMANAGERS</h1>
	<a href="/pgmanager_create/">CREATE PGMANAGER</a>

		<table border=2>
			<thead>
				<tr>
					<th>NAME</th>
					<th>GENDER</th>
					<th>EMAIL</th>
					<th>CELL</th>
					<th>STATUS</th>
					<th>OPERATIONS</th>
				</tr>	
			</thead>
			<tbody>
				{% for row in data %}
				<tr>
					<td>{{ row.name }}</td>
					<td>{{ row.get_gender_display }}</td>
					<td>{{ row.email }}</td>
					<td>{{ row.cell }}</td>
					<td>{{ row.status }}</td>
					<td>
						<a href="/pgmanager_update/{{ row.id }}">UPDATE</a>
						<a href="/pgmanager_delete/{{ row.id }}">DELETE</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
</body>
</html>